    <!-- <div class=" w-full md:block md:w-auto" id="navbar-default">
      <ul class="font-medium font-serif italic flex flex-col p-4 md:p-3 mt-4 border border-gray-100 rounded bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        @for (item of navBarOptions; track item.route) {
          <li>
            <a [routerLink]="item.route"  class="block py-2 px-3 text-white bg-blue-700 rounded-sm md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-pink-500" aria-current="page">{{ item.label }}</a>
          </li>
        }
      </ul>
    </div>

     -->

<div class="w-full" id="navbar-default">
  <ul class="font-medium font-serif italic flex flex-row justify-center gap-6 p-1 mt-1 border border-gray-100 rounded bg-gray-50 dark:bg-gray-800 dark:text-white dark:border-gray-700">
    @for (item of navBarOptions; track item.route) {
      <li>
        <a
          [routerLink]="item.route"
          class="block py-2 px-4 text-pink-700 bg-blue-700 rounded-sm dark:bg-gray-800 hover:opacity-90"
        >
          {{ item.label }}
        </a>
      </li>
    }
  </ul>
</div>
