

@if (recipe()) {
  <div class="flex flex-col items-center w-full p-15 justify-center">
    <a

      class="flex flex-col items-center w-full  bg-white border border-gray-200  shadow-sm md:flex-row md:max-w-full dark:border-gray-700 dark:bg-pink-900"
    >
      <img
        class=" object-cover w-full rounded-full p-5 h-96 md:h-auto md:w-ful md:rounded-full "
        [src]="recipe().strMealThumb"
        [alt]="recipe().strMeal"
      />
      <div class="flex flex-col justify-between p-4 leading-normal">
        <h5 class="mb-2 text-2xl font-bold italic tracking-tight text-gray-900 dark:text-white">
          {{ recipe().strMeal }}
        </h5>
        <h2 class="font-serif italic">
          Instructions:
        </h2>
        <p class="mb-3 font-serif italic text-gray-700 dark:text-gray-400">
          {{ recipe().strInstructions }}
        </p>

        <div>
          <div class="relative overflow-x-auto">
              <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                  <thead class="text-xs text-pink-700 uppercase bg-gray-50 dark:bg-pink-700 dark:text-slate-50">
                      <tr>
                          <th scope="col" class="px-6 py-3 font-serif italic">
                              Ingredient
                          </th>
                          <th scope="col" class="px-6 py-3 font-serif italic">
                              Measure
                          </th>
                      </tr>
                  </thead>
                  <tbody>

                    @for (rec of ingredients(); track $index) {
                      <tr class="bg-white border-b dark:bg-pink-600 dark:border-pink-700 border-gray-200">
                          <th scope="row" class="px-6 py-4 font-serif italic text-black whitespace-nowrap dark:text-black">
                             {{rec.ingredient}}
                          </th>
                          <td class="px-6 py-4 font-serif italic text-black">
                              {{rec.measure}}
                          </td>
                      </tr>
                    }
                  </tbody>
              </table>
          </div>
        </div>
      </div>




    </a>
  </div>
}
